listenPort: 8080 # Port on the API Gateway workload to listen on

apiSecretName: # example: my-apis
policySecretName: # example:my-policies

adminSecret: mysecret # Set a secret for Tyk API Gateway

resources:
  cpu: 50m
  memory: 128Mi

multiZone: true

externalAccess: true # expose the API Gateway to the internet
internalAccess:
  type: same-gvc # options: same-gvc, same-org, workload-list
  workloads:  # Note: can only be used if type is same-gvc or workload-list
    #- //gvc/GVC_NAME/workload/WORKLOAD_NAME
    #- //gvc/GVC_NAME/workload/WORKLOAD_NAME

redis:
  redis:
    resources:
      cpu: 200m
      memory: 256Mi
      minCpu: 80m
      minMemory: 128Mi
    replicas: 2
    auth:
      password:
        enabled: true
        value: myRedisPassword # Set a password for the redis
    firewall:
      internal_inboundAllowType: same-gvc
    persistence:
      enabled: true
  sentinel:
    resources:
      cpu: 200m
      memory: 256Mi
      minCpu: 80m
      minMemory: 128Mi
    replicas: 3
    auth:
      password:
        enabled: true
        value: mySentinelPassword # Set a password for the sentinel
    firewall:
      internal_inboundAllowType: same-gvc
    persistence:
      enabled: true