listenPort: 8080 # Port on the API Gateway workload to listen on

adminSecret: mysecret # Set a secret for Tyk API Gateway

resources:
  cpu: 50m
  memory: 128Mi

multiZone: true

external_access: true # expose the API Gateway to the internet
internal_access:
  type: same-gvc # options: same-gvc, same-org, workload-list
  workloads:  # Note: can only be used if type is same-gvc or workload-list
    #- //gvc/GVC_NAME/workload/WORKLOAD_NAME
    #- //gvc/GVC_NAME/workload/WORKLOAD_NAME

aiConfigurator:
  enabled: true # Enable AI Configurator workload
  anthropicApiKey: test-key

uiConfigurator:
  enabled: true # Enable UI Configurator workload

redis:
  redis:
    resources:
      cpu: 200m
      memory: 256Mi
      minCpu: 80m
      minMemory: 128Mi
    replicas: 2
    auth:
      password:
        enabled: true
        value: password # Set a password for the redis
    firewall:
      internal_inboundAllowType: same-gvc
    persistence:
      enabled: true
  sentinel:
    resources:
      cpu: 200m
      memory: 256Mi
      minCpu: 80m
      minMemory: 128Mi
    replicas: 3
    auth:
      password:
        enabled: true
        value: password # Set a password for the sentinel
    firewall:
      internal_inboundAllowType: same-gvc
    persistence:
      enabled: true