kind: secret
name: {{ .Release.Name }}-pg-config
description: {{ .Release.Name }} postgres config
tags:
  {{- include "pg.tags" . | nindent 4 }}
type: dictionary
data:
  username: {{ .Values.config.username }}
  password: {{ .Values.config.password }}
{{- if .Values.backup.aws.enabled }}
  backup_bucket: {{ .Values.backup.aws.s3.bucket }}
  aws_region: {{ .Values.backup.aws.s3.region }}
{{- end }}
{{- if .Values.backup.gcp.enabled }}
  backup_bucket: {{ .Values.backup.gcp.gcs.bucket }}
{{- end }}