{{- if .Values.backup.enabled }}
kind: secret
name: {{ .Release.Name }}-pg-backup-config
description: Postgres backup config
tags:
  {{- include "pg.tags" . | nindent 4 }}
type: dictionary
data:
{{- if .Values.backup.aws.enabled }}
  bucket: {{ .Values.backup.aws.s3.bucket }}
  region: {{ .Values.backup.aws.region }}
  prefix: {{ .Values.backup.aws.s3.prefix }}
{{- end }}
{{- if .Values.backup.gcp.enabled }}
  bucket: {{ .Values.backup.gcp.gcs.bucket }}
  prefix: {{ .Values.backup.gcp.gcs.prefix }}
{{- end }}
{{- end }}