kind: secret
name: {{ .Release.Name }}-postgres-config
description: Postgres Highly Available config
tags:
  {{- include "pg-ha.tags" . | nindent 4 }}
type: dictionary
data:
  username: {{ .Values.postgres.username }}
  password: {{ .Values.postgres.password }}
  database: {{ .Values.postgres.database }}
{{- if .Values.backup.aws.enabled }}
  backup-bucket: {{ .Values.backup.aws.s3.bucket }}
  aws-region: {{ .Values.backup.aws.s3.region }}
{{- end }}
{{- if .Values.backup.gcp.enabled }}
  backup-bucket: {{ .Values.backup.gcp.gcs.bucket }}
{{- end }}