kind: secret
name: {{ include "redis-cluster.secretConfigName" . }}
description: Redis Cluster Config
tags: {{- include "redis-cluster.tags" . | nindent 4 }}
type: opaque
data:
  encoding: plain
  payload: |-
    cluster-enabled yes
    cluster-config-file nodes.conf
    cluster-node-timeout 5000
    appendonly yes
    port {{ .Values.port }}
    {{- if .Values.redis.password }}
    requirepass {{ .Values.redis.password }}
    masterauth {{ .Values.redis.password }}
    {{- end }}