kind: secret
name: {{ include "redis.secretConfigName" . }}
description: Redis Config
tags: {{- include "redis.tags" . | nindent 4 }}
type: opaque
data:
  encoding: plain
  payload: |-
    bind 0.0.0.0
    protected-mode no
    save 900 1
    save 300 10
    save 60 10000
    appendonly yes