postgres:
  config:
    username: username
    password: password
    database: test
  resources:
    cpu: 500m
    memory: 1024Mi
  volumeset:
    capacity: 10 # initial capacity in GiB (minimum is 10)

identityProviders:
  google:
    enabled: true