image: postgres:18  # versions before postgres:17 are compatible but do not support backup feature

resources:
  minCpu: 200m
  maxCpu: 500m
  minMemory: 128Mi
  maxMemory: 256Mi

config:
  username: username
  password: password
  database: test

volumeset:
  capacity: 10 # initial capacity in GiB (minimum is 10)

backup: # compatible with Postgres 17+
  enabled: true
  image: controlplanecorporation/pg-backup:18.1.0 # tag 18.1.0 = Postgres 18, 17.1.0 = Postgres 17
  schedule: "0 2 * * *"   # daily at 2am UTC

  resources:
    cpu: 100m
    memory: 128Mi

  aws:
    enabled: true
    s3:
      bucket: pg-backup-bucket
      region: us-east-1
      cloudAccountName: pg-backup-cloudaccount
      policyName: pg-backup-policy
      prefix: postgres/my-cluster # folder name where your backups will be stored

  gcp:
    enabled: false
    gcs:
      bucket: pg-backup-bucket
      cloudAccountName: pg-backup-cloudaccount
      prefix: postgres/my-cluster # folder name where your backups will be stored