image: controlplanecorporation/fusionauth:0.2

resources:
  cpu: 512m
  memory: 1024Mi

identityProviders:
  google:
    enabled: true

postgres:
  image: postgres:18
  config:
    username: username
    password: password
    database: test
  resources:
    cpu: 500m
    memory: 1024Mi
  volumeset:
    capacity: 10 # initial capacity in GiB (minimum is 10)
  internalAccess: # Sets the internal firewall scope - if set to none, replicas will not be able to reach each other
    type: same-gvc # options: none, same-gvc, same-org, workload-list
    workloads:  # Note: can only be used if type is same-gvc or workload-list
      #- //gvc/GVC_NAME/workload/WORKLOAD_NAME
      #- //gvc/GVC_NAME/workload/WORKLOAD_NAME

  # POSTGRES BACKUP CONFIG   
  backup: # compatible with Postgres 17+
    enabled: false
    image: controlplanecorporation/pg-backup:18.1.0 # tag 18.1.0 = Postgres 18, 17.1.0 = Postgres 17
    schedule: "0 2 * * *"   # daily at 2am UTC

    resources:
      cpu: 100m
      memory: 128Mi

    aws:
      enabled: false
      s3:
        bucket: pg-backup-bucket
        region: us-east-1
        cloudAccountName: pg-backup-cloudaccount
        policyName: pg-backup-policy
        prefix: postgres/my-cluster # folder name where your backups will be stored

    gcp:
      enabled: false
      gcs:
        bucket: pg-backup-bucket
        cloudAccountName: pg-backup-cloudaccount
        prefix: postgres/my-cluster # folder name where your backups will be stored