{{ include "clickhouse.validateStorage" . }}
---
{{- if .Values.aws.enabled }}
kind: secret
name: {{ include "clickhouse.secretS3Name" . }}
description: Clickhouse s3 config
tags: {{- include "clickhouse.tags" . | nindent 4 }}
type: opaque
data:
  encoding: plain
  payload: |-
    <clickhouse>
        <storage_configuration>
            <disks>
                <s3_disk>
                    <type>s3</type>
                    <endpoint>https://{{ .Values.aws.s3.bucket }}.s3.{{ .Values.aws.s3.region }}.amazonaws.com/data/</endpoint>
                    <bucket>{{ .Values.aws.s3.bucket }}</bucket>
                    <region>{{ .Values.aws.s3.region }}</region>
                    <use_environment_credentials>1</use_environment_credentials>
                    <use_custom_access_role>1</use_custom_access_role>
                    <metadata_path>/var/lib/clickhouse/disks/s3_disk_metadata/</metadata_path>
                </s3_disk>

                <s3_cache_disk>
                    <type>cache</type>
                    <disk>s3_disk</disk>
                    <path>s3/</path>
                    <max_size>1Gi</max_size>
                </s3_cache_disk>
            </disks>

            <policies>
                <s3_main>
                    <volumes>
                        <main>
                            <disk>s3_cache_disk</disk>
                        </main>
                    </volumes>
                </s3_main>
            </policies>
        </storage_configuration>

        <filesystem_cache>
            <base_path>/var/lib/clickhouse_cache/</base_path>
        </filesystem_cache>

        <merge_tree>
            <storage_policy>s3_main</storage_policy>
        </merge_tree>
    </clickhouse>
{{- end }}